{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="padding-left:0">
        <li class="breadcrumb-item"><a href="{{ url_for('index')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add a Book</li>
    </ol>
</nav>

<h2 class="mt-4"><i class="fad fa-plus text-info"></i>{% block title %}  Add a Book{% endblock %}</h2>

<hr/>
<p class="text-danger">All entries are required</p>

<form role="form" class="form" method="POST" name="form1514" id="form1514">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label for="title" class="col-form-label col-2">Title</label>
                <div class="col">
                    <input type="text" class="form-control" name="title" id="title" required>
                </div>    
            </div>
            <div class="form-group row">
                <label for="author" class="col-form-label col-2">Author</label>
                <div class="col-3">
                    <input type="text" class="form-control" name="author" id="author" required>
                </div>    
                <label for="isbn" class="col-form-label col-1">ISBN</label>
                <div class="col">
                    <input type="text" class="form-control" name="isbn" id="isbn" placeholder="ISBN-13 format is preferred." required>
                </div>    
            </div>
            <div class="form-group row">
                <label for="qty" class="col-form-label col-2">Quantity Available</label>
                <div class="col-2">
                    <input type="number" class="form-control" name="qty" id="qty" required>
                </div>
                <label for="price" class="col-form-label col-1 offset-1">Price</label>
                <div class="col-3">
                    <input type="number" step=".01" class="form-control" name="price" id="price"  placeholder="$" required>
                </div>
            </div>
            <div class="form-group border p-4 text-center">
                Save this book to add it as an inventory item. Once saved, you will be able to enter purchase records.
            </div>
        </div><!--/card-body-->
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-light btn-save">Save</button>
                    <a type="button" class="btn btn-light btn-close" href="{{ url_for('index')}}">Close</a>
                </div>
        </div><!--/card-footer-->
    </div><!--/card-->
</form>
{% endblock %}