{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="padding-left:0">
        <li class="breadcrumb-item"><a href="{{ url_for('index')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit a Book</li>
    </ol>
</nav>

<h2 class="mt-4"><i class="fad fa-edit text-info"></i>{% block title %}  Edit a Book{% endblock %}</h2>
<hr/>
<p class="text-danger">All entries are required.</p>
<form role="form" class="form" method="POST">
    <input type="hidden" name="id" id="id" value="{{ book['_id'] }}">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <label for="title" class="col-form-label col-2">Title</label>
                <div class="col">
                    <input type="text" class="form-control" name="title" id="title" required value="{{ book['title'] }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="author" class="col-form-label col-2">Author</label>
                <div class="col-3">
                    <input type="text" class="form-control" name="author" id="author" required value="{{ book['author'] }}">
                </div>
                <label for="isbn" class="col-form-label col-1">ISBN</label>
                <div class="col">
                    <input type="text" class="form-control" name="isbn" id="isbn" required value="{{ book['isbn'] }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="qty" class="col-form-label col-2">Quantity Available</label>
                <div class="col-2">
                    <input type="number" class="form-control" name="qty" id="qty" required value="{{ book['qty'] }}">
                </div>
                <label for="price" class="col-form-label col-1 offset-1">Price</label>
                <div class="col-2">
                    <input type="number" step=".01" class="form-control" name="price" id="price" required value="{{ book['price']}}">
                </div>
            </div>
        <hr>
        <p class="legend">Purchase Records</p>
        <table class="table table table-borderless table-striped" id="purchase_table">
            <thead>
                <tr>
                <th style="width:20%">Date Ordered</th>
                <th style="width:20%">Date Received</th>
                <th style="width:10%">Quantity</th>
                <th style="width:10%">Cost</th>
                <th style="width:40%" colspan="2">Supplier</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% if orders.count() != 0 %}
                {% for order in orders %}
                <tr id="purchase_id_{{order['_id']}}">
                    <td><input type="date" class="form-control form-control-sm" value="{{ order['date_ordered'].strftime('%Y-%m-%d') }}" name="date_ordered"></td>
                    <td><input type="date" class="form-control form-control-sm" value="{{ order['date_received'].strftime('%Y-%m-%d') }}" name="date_received"></td>
                    <td><input type="number" step="1" class="form-control form-control-sm text-right" value="{{ order['number_purchased'] }}" name="number_purchased"></td>
                    <td><input type="number" step=".01" class="form-control form-control-sm text-right" value="{{ '{:,.2f}'.format(order['cost']) }}" name="cost"></td>
                    <td><input type="text" class="form-control form-control-sm" value="{{order['supplier']}}" name="supplier"></td>
                    <td class="text-center">
                        <a href="javascript:void(0);" onclick="controller.updatePurchase('{{order["_id"]}}')"><i class="fad fa-save mt-2 mr-2"></i></a> 
                        <a href="javascript:void(0);" onclick="controller.deletePurchase('{{order["_id"]}}')"><i class="fad fa-trash-alt text-danger"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr id="no_matching_rows">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                {% endif %}
            </tbody>
            <tfoot id="purchase_record_footer" >
                <tr><td class="border-top" colspan="5">{{ orders.count() }} matching rows</td></tr>
            </tfoot>
        </table>
    </form>
        <div class="row">
            <div class="col-10 text-center"><p id="message_container">&nbsp;</p></div>
            <div class="col-2 text-right">
        <button type="button" class="btn btn-light btn-add" onclick="controller.addPurchaseRecordRow('purchase_table','book_id')">New Record</button>
    </div></div>
        </div><!--/card-body-->
    <div class="card-footer">
        <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-light btn-save">Save</button>
              <a type="button" class="btn btn-light btn-close" href="{{ url_for('index')}}">Close</a>
              <button type="button" class="btn btn-light btn-delete" onclick="controller.delBook('{{ book['_id'] }}')">Delete</button>
              
            </div>
        </div>
    </div>

</div>
</form>
{% endblock %}